workflows/hyke_atendimento_ia.json
{
    "name": "Hyke Solutions - Atendimento IA WhatsApp",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "hyke-whatsapp-webhook",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "Você é o Assistente Virtual da Hyke Solutions, especialista em automação com IA. Seu objetivo é ajudar clientes com dúvidas sobre os planos e serviços da Hyke. Seja profissional, direto e amigável. Se o cliente precisar de ajuda humana ou quiser fechar um contrato personalizado, direcione-o para o especialista Ícaro no número 31 98238-2635. Não invente informações fora do escopo de automação e tecnologia da Hyke."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "openai-model",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                600,
                500
            ]
        },
        {
            "parameters": {},
            "id": "window-memory",
            "name": "Window Buffer Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1,
            "position": [
                800,
                500
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "phoneNumberId": "={{$node[\"Webhook\"].json[\"body\"][\"instance\"]}}",
                "recipientPhoneNumber": "={{$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]}}",
                "textBody": "={{$node[\"AI Agent\"].json[\"output\"]}}"
            },
            "id": "whatsapp-send",
            "name": "WhatsApp Business Cloud",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                950,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "WhatsApp Business Cloud",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}