workflows/webhook-gemini-agent.json
{
    "name": "SaaS AI Agent - Evolution + Gemini",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "evolution-webhook",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "e0b5711b-abac-433f-91a7-f5dc83c0fde0",
            "name": "Webhook Evolution",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                280,
                280
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT c.\"basePrompt\", c.\"products\", c.\"name\"\nFROM \"CompanyContext\" c\nJOIN \"AgentConfig\" a ON c.\"userId\" = a.\"companyId\"\nWHERE a.\"instanceName\" = $1 AND a.\"active\" = true;",
                "options": {
                    "queryParameters": "={{ $json.body.instance }}"
                }
            },
            "id": "84b2eb6e-eb5e-4c7b-b5cb-fbd2d2ebcffa",
            "name": "PostgreSQL Context",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.3,
            "position": [
                500,
                280
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.basePrompt }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "67b9d799-a868-45ad-bc9b-3fe33c563bb6",
            "name": "If Context Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                720,
                280
            ]
        },
        {
            "parameters": {
                "model": "gemini-pro",
                "prompt": "={{ $json.basePrompt }}\n\nInformações Adicionais (Produtos/Preços):\n{{ $json.products }}\n\nMensagem do Usuário:\n{{ $('Webhook Evolution').item.json.body.data.message.conversation || $('Webhook Evolution').item.json.body.data.message.extendedTextMessage.text || $('Webhook Evolution').item.json.body.data.message.text }}",
                "options": {}
            },
            "id": "76ec9d71-9de7-48f1-8f52-4464d2bcb1ff",
            "name": "Google Gemini",
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1,
            "position": [
                940,
                140
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://api.evolution.com/message/sendText/{{ $('Webhook Evolution').item.json.body.instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_EVOLUTION_APIKEY"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $('Webhook Evolution').item.json.body.data.key.remoteJid }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "64c7e30d-2fdd-40e9-aa80-0a568cdb9691",
            "name": "Evolution Send Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1160,
                140
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook Evolution": {
            "main": [
                [
                    {
                        "node": "PostgreSQL Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PostgreSQL Context": {
            "main": [
                [
                    {
                        "node": "If Context Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Context Exists": {
            "main": [
                [
                    {
                        "node": "Google Gemini",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Google Gemini": {
            "main": [
                [
                    {
                        "node": "Evolution Send Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}